.App {
  margin-left: 20px;
  margin-top: 60px;
  font-family: sans-serif;
}

.Question {
  margin: 20px;
  
}

.Select {
  margin: 20px;
  font-size: 20px;
  
}

.Submit{
  display: flex;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.Buttons{
  display: flex;
  
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}


